<div th:replace="parts/head" />
    <p>User editor</p>
    
    <form th:action="@{/user}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />﻿
        <input type="hidden" name="userId" th:value="${user.id}">
        
        <input type="text" name="username" th:value="${user.username}">
        
        <div th:each="role : ${roles}">
            <label><input type="checkbox" th:name="${role}" th:checked="${#sets.contains(user.roles, role)}"/><a th:text="${role}"></a></label>
        </div>
        <button th:type="submit">Save</button>
    </form>
    
<div th:replace="parts/foot" />