<form class="my-4 mx-5" th:action="@{${path}}" method="post" id="logform">
    <div class="form-group row">
        <label class="col-2 col-form-label"> User Name : </label>
        <div class="col-sm-5">
            <input th:class="${usernameError} ? 'form-control is-invalid' : 'form-control'"
                   type="text" name="username" th:value="${user} ? ${user.username}"
                   placeholder="Username"/> 
            <div th:if="${usernameError}" class="invalid-feedback">
                 <l th:text="${usernameError}" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label"> Password: </label>
        <div class="col-sm-5">
            <input th:class="${passwordError} ? 'form-control is-invalid' : 'form-control'"
                   type="password" name="password" 
                   placeholder="Password"/>
            <div th:if="${passwordError}" class="invalid-feedback">
                <l th:text="${passwordError}" />
            </div>
        </div>
    </div>
    <div th:if="${#httpServletRequest.requestURI} == ${'/registration'}" class="form-group row">
        <label class="col-2 col-form-label"> Password: </label>
        <div class="col-sm-5">
            <input th:class="${password2Error} ? 'form-control is-invalid' : 'form-control'"
                   type="password" name="confirmPass" 
                   placeholder="Repeat password"/>
            <div th:if="${password2Error}" class="invalid-feedback">
                <l th:text="${password2Error}" />
            </div>
        </div>
    </div>
    <div class="">
        <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
</form>